

<%  my_current_id = session[:user_id] %> 
  <% current_user = User.where({ :id => my_current_id }).at(0) %>
   User Type: <%= current_user.account_type %>
<hr>

<div>
  <div>
    <h2>
      Add a new trail
    </h2>

    <form action="/insert_trail" method="post">
      <div>
        <label for="name_box">
          Trail Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="length_box">Length</label>
        <input type="text" id="length_box" name="query_length" placeholder="in meters">
      </div>

      <div>
        <label for="duration_box">
          Duration
        </label>

        <input type="text" id="duration_box" name="query_duration" placeholder="in minutes">
      </div>


      <div>
        <label for="difficulty_box">
          Difficulty
        </label>

        <select id="difficulty_box" name="query_difficulty">
        <option value="easy">Easy</option>        
        <option value="moderate">Moderate</option>
        <option value="hard">Hard</option>
        </select>
      </div>

      <button>
        Create trail
      </button>
    </form>
  </div>
</div>

<div>
  <div>
    <h1>
      List of all trails
    </h1>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Length
        </th>

        <th>
          Duration
        </th>

        <th>
          Difficulty
        </th>

        <th>
          Photos count
        </th>

        <th>
          Comments count
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_trails.each do |a_trail| %>
      <tr>
        <td>
          <%= a_trail.id %>
        </td>

        <td>
          <%= a_trail.name %>
        </td>

        <td>
          <%= a_trail.length %>
        </td>

        <td>
          <%if current_user.account_type == "premium"%>
            <%= a_trail.duration %>
          <%else%>
            Premium Access Only
          <%end%>
        </td>

        <td>
          <%if current_user.account_type == "premium"%>
            <%= a_trail.difficulty %>
          <%else%>
            Premium Access Only
          <%end%>
        </td>

        <td>
          <%= a_trail.photos_count %>
        </td>

        <td>
          <%= a_trail.comments_count %>
        </td>

        <td>
          <%= time_ago_in_words(a_trail.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_trail.updated_at) %> ago
        </td>

        <td>
          <a href="/trails/<%= a_trail.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
